@charset "ISO-8859-1";


.h{
background-color:Black;
text-align:left;
color:white;

padding-top:10px;
padding-bottom:10px;


padding-left:10px;
padding-right:50px;



margin-left:450px;
margin-right:450px;


margin-top:200px;
margin-bottom:30px;
}


.f{



text-align:left;
color:Black;

padding-top:20px;
padding-bottom:20px;


padding-left:50px;
padding-right:50px;



margin-left:450px;
margin-right:450px;


margin-top:0px;
margin-bottom:0px;
}

.p{
border-style:solid;
}


.c{
margin-left:120px;

padding-left:10px;
padding-right:10px;

padding-top:3px;
padding-bottom:3px;


}
 

